@import "tailwindcss";

@theme {
  --font-playfair: 'Playfair Display', serif;
  --font-manrope: 'Manrope', sans-serif;
  --font-inter: 'Inter', sans-serif;

  --color-primary-500: #f44b87;
  --color-primary-600: #f0105e;
  --color-primary-650: #d20d52;

  --color-secondary-500: #2b80ff;
  --color-secondary-600: #005fed;

  --color-accent-star: #FFC107;

  --color-dark-footer: #1C1C1C;
  --color-text-primary: #1A1A1A;
  --color-text-secondary: #666666;
}

/* Custom utilities */
@layer utilities {
  .scrollbar-hide {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: var(--color-text-primary);
  font-family: var(--font-inter);
}